/* blog section */

.blog-section {
  position: relative;
  padding: 0 7.5rem 1.88rem 7.5rem !important;
  margin-left: auto;
  margin-right: auto;
}

.posts-container {
  display: flex;
  margin: 1px 8rem;
}

.post-card-content {
  background-color: white;
  box-shadow: -1px 19px 21px -13px #000000;
  padding: 1rem 2rem;
  max-width: 25rem;
}

.post-card-content:nth-child(1) {
  margin-right: 10px;
}

.post-card-content:nth-child(2) {
  margin-left: 10px;
}

.post-card-content h4 {
  font-weight: 100;
  padding-left: 10px;
  border-left: 1px solid var(--specialred);
}

.post-card-content h3 {
  font-size: 32px;
}

.post-card-mentions {
  display: flex;
  flex-direction: column;
  line-height: 23px;
}

.post-card-mentions span a {
  color: var(--specialred);
  text-decoration: none;
}

.post-card-description h3 {
  margin-bottom: 1rem;
  font-size: 23px;
}

.post-read-more-button {
  background: var(--specialred);
  padding: 1rem;
  margin-top: 2rem;
  display: block;
  max-width: 7.5rem;
  color: white;
  text-decoration: none;
}

.post-read-more-button > i {
  transition: all 700ms;
  transform: translate3d(0, 0, 0);
}

.post-read-more-button:hover > i {
  transform: translate3d(50%, 0, 0);
}

.news-room-image-wrapper a img {
  width: 100%;
}

.news-room-image-wrapper {
  margin-bottom: 8px;
}

.post-pill {
  padding: 4px 8px;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 4px;
}
